jd21/
ipk_extracted_fixed/
ipk_extracted/
cache/
Starships/
world/
errors.txt
dump*
__pycache__/
XTX-Extractor/
JustDanceTools/
ubiart-archive-tools/

.vscode/
BadRomance/
GetGetDown/
ImAnAlbatraoz/
Rockabye/
downloads/
virtualKinect/
pose_landmarker_lite.task
Albatraoz/
*.txt
*.dtape
*.ktape
jd21.rar

JustDanceTools/
XTX-Extractor/
ubiart-archive-tools/
jd2021pc tools/
jd2021pc tools.zip
MapDownloads/

tmpclaude*
JD2021MapInstaller.zip
nul
