__pycache__
docs/todo/
cache/
installer_settings.json
logs/
.browser-profile/
maps/
.cursor
.pytest_cache
mapDownloads/
temp/
.gemini/
gha-creds-*.json
dummy/
docs/reports/
docs/sessions/
tools/
.venv/
map_readjust_index.json
3rdPartyTools/