<form id="submit_form" method="post" action="">
    <% if(type_SA === constants.type_code) { %>
    <div id="defaultChangelistError" class='alert alert-error margin-top_5' style="display:none" />
    <div id="teaBuddyError" class='alert alert-error margin-top_5' style="display:none" />

    <div class="control">
        <h5>Select JIRA ID</h5>
        <div class="row">
            <div class="span12 control-group">
                <label class="control-label" for="jira_data">
                    JIRA User : <b><%=model.jira_user%></b>
                </label>
                <div class="controls">
                    <select id="jira_tag" class="jiratags select2 validation_field input-block-level" name="jira_data"
                            multiple="multiple" data-placeholder="Choose Jira to be closed" style="padding: 100px">
                        <!--filling up the Jira dropdown-->
                        <% _.each(model.jira_id_description, function(jiraInfo) { %>
                        <option value="<%= jiraInfo.id %>" <% if(_.contains(model.jira_tag, jiraInfo.id)){ %> selected="selected" <% } %>>
                            <%= jiraInfo.id %> : <%= jiraInfo.desc %>
                        </option>
                        <% }); %>
                    </select>
                </div>
            </div>
        </div>
        <div id="jira_error" class='alert alert-error margin-top_5' style="display:none" />
    </div>
	<hr>
	<h5>Changelist description</h5>
    <div class="row">
        <div class="span4 control-group">
            <label class="control-label" for="scope_tag">
                Scope tag
            </label>
            <div class="controls">
                <select id="scope_tag" class="scopetag select2 validation_field input-block-level" name="scope_tag"
                        multiple="multiple" data-placeholder="Scope">
                    <%if (model.scope_tag.length>0) {%>
                            <%_.each(model.scope_tag.split(','), function(item) {%>
                                <option id="<%=item.toLowerCase()%>" value="<%=item%>" selected="selected"><%=item%></option>
                            <%})%>
                    <%}%>
                </select>
            </div>
        </div>
        <% var type_tag_tooltip = "";
        _.each(type_tag, function(type){
        type_tag_tooltip += "<strong>" + type.name + "</strong>: " + type.description + "<br>";
        });
        %>
        <div class="span4 control-group tooltip_element" data-toggle="tooltip" data-html="true" data-placement="bottom" data-original-title="<%= type_tag_tooltip %>">
            <label class="control-label" for="type_tag">
                Type tag
            </label>
            <div class="controls">
                <select id="type_tag" class="changelist_field validation_field input-block-level" name="type_tag" placeholder="Type">
                    <option value=""></option>
                    <% _.each(type_tag, function(type) { %>
                    <option value="<%= type.name %>" <% if(type.name == model.type_tag){ %> selected="selected" <% } %> >
		                    <%= type.name %>
		                </option>
                    <% }); %>
                </select>
            </div>
        </div>
        <div class="span4 control-group">
            <label class="control-label" for="reviewer_field">
                Reviewer
            </label>
            <div class="controls">
                <select id="reviewer_field" class="reviewerfield select2 validation_field input-block-level" name="reviewer_field"
                        multiple="multiple" data-placeholder="Reviewer">
                    <%if (model.reviewer_field.length>0) {%>
                        <%_.each(model.reviewer_field.split(','), function(item) {%>
                            <option id="<%=item.toLowerCase()%>" value="<%=item%>" selected="selected"><%=item%></option>
                        <%})%>
                    <%}%>
                </select>
            </div>
        </div>
    </div>
    <div class="row margin-top">
        <div class="span6 control-group">
            <label class="control-label" for="description_field">
                Description
            </label>
            <div class="controls" id="description_field_id">
                <textarea id="description_field" class="changelist_field validation_field input-block-level" name="description_field" placeholder="Write your description" rows="4"><%= model.description_field %></textarea>
            </div>
        </div>
        <div class="span6 control-group">
            <label class="control-label" for="changelog_field">
                Changelog
            </label>
            <div class="controls">
                <textarea id="changelog_field" class="changelist_field validation_field input-block-level" name="changelog_field" placeholder="Write your changelog" rows="4"><%= model.changelog_field %></textarea>
            </div>
        </div>
    </div>
	<hr>
	<% }else if(type_SA === constants.type_data){ %>

    <div id="defaultChangelistError" class='alert alert-error margin-top_5' style="display: none"/>
    <div class="control">
        <h5>Select JIRA ID</h5>
        <div class="row">
            <div class="span12 control-group">
                <label class="control-label" for="jira_data">
                    JIRA User : <b><%=model.jira_user%></b>
                </label>
                <div class="controls">
                    <select id="jira_tag" class="jiratags select2 validation_field input-block-level" name="jira_data"
                            multiple="multiple" data-placeholder="Choose Jira to be closed" style="padding: 100px">
                        <!--filling up the Jira dropdown-->
                        <% _.each(model.jira_id_description, function(jiraInfo) { %>
                        <option value="<%= jiraInfo.id %>" <% if(_.contains(model.jira_tag, jiraInfo.id)){ %> selected="selected" <% } %>>
                            <%= jiraInfo.id %> : <%= jiraInfo.desc %>
                        </option>
                        <% }); %>
                    </select>
                </div>
            </div>
        </div>
        <div id="jira_error" class='alert alert-error margin-top_5' style="display:none" />
    </div>
    <hr>
    <h5>Changelist description</h5>
    <div class="row">
        <div class="span6">
            <div class="control-group">
                <label class="control-label" for="domain_tag">
                    Domain tag
                </label>
                <div class="controls">
                    <select id="domain_tag" class="select2 validation_field input-block-level" name="domain_tag" multiple="multiple" data-placeholder="Choose some domains...">
                        <% _.each(domain_tag, function(domain) { %>
                        <option value="<%= domain %>" <% if(_.contains(model.domain_tag, domain)){%> selected="selected" <%}%>>
									<%= domain %>
								</option>
                        <% }); %>
                    </select>
                </div>
            </div>
            <div class="control-group margin-top_10">
                <label class="control-label" for="map_tag">
                    Map name
                </label>
                <div class="controls">
                    <select id="map_tag" class="select2 validation_field input-block-level" name="map_tag" multiple="multiple" data-placeholder="Choose some maps...">
                        <optgroup id="unofficial_map_optgroup" label="Other">
                            <% _.each(unofficial_map, function(map) { %>
                            <option value="<%= map %>" <% if(_.contains(model.map_tag, map)){%> selected="selected" <%}%>>
										<%= map %>
									</option>
                            <% }); %>
                        </optgroup>
                        <optgroup id="map_optgroup" label="Official map list">
                            <% _.each(official_map, function(map) { %>
                            <option value="<%= map %>" <% if(_.contains(model.map_tag, map)){%> selected="selected" <%}%>>
										<%= map %>
									</option>
                            <% }); %>
                        </optgroup>
                    </select>
                </div>
            </div>
        </div>
        <div class="span6 control-group">
            <label class="control-label" for="description_field">
                Description
            </label>
            <div class="controls">
                <textarea id="description_field" class="changelist_field validation_field input-block-level" name="description_field" placeholder="Write your description" rows="4"><%= model.description_field %></textarea>
            </div>
        </div>
    </div>
    <% } %>

    <div class="row">
        <div class="span6 text-left">
            <h5>Files to submit </h5>
        </div>
        <div id="files_selection" class="span6 text-right">
            <span id="selected_files"> <%= collection.length %> </span> / <%= collection.length %> files selected in your CL
        </div>
    </div>
    <% if(collection.length > config.files_limit){ %>
    <div class="alert alert-info">
        <strong> <%= collection.length %> files in your CL</strong>
        (Maximum number of files to display: <%= config.files_limit %>)
    </div>
    <% } else { %>
    <div class="row">
        <div id="files_content" class="span12">
            <table id="files_table" class="table table-striped table-bordered" table cellpadding="0" cellspacing="0" border="0"></table>
        </div>
    </div>
    <% } %>

    <h5>Additional options </h5>
    <div id="options" class="row">
        <div class="span4 text-left">
            <label class="checkbox inline">
                <input type="checkbox" id="donotsubmit">
                Don't submit if resolved files have been modified
            </label>
        </div>
        <div class="span4 text-center">
            <label class="checkbox inline">
                <input type="checkbox" id="recheckout">
                Check out submitted files after submit
            </label>
        </div>
        <div class="span4 text-right">
            <select id="on_submit">
                <option value="submitunchanged">Submit all selected files</option>
                <option value="leaveunchanged">Don't submit unchanged files</option>
                <option value="revertunchanged" selected="selected">Revert unchanged files</option>
            </select>
        </div>
    </div>
</form>