
<div class="tab-content">
    <div id="http_error" class='alert alert-error margin-top_5' style="display:none" />
    <div id="cl_content"></div>
</div>
<div class="row margin-top_5">
    <div id="buttons_div" class="span12 text-right">
        <% if(model.is_validation_branch){ %>
        <input type="button" id="validate_button" class="submit btn btn-danger btn-small" value="Validate" disabled="disabled">
        <% } else if(model.type_SA === constants.type_code){ %>

        <!--Adding the drop down for selecting the mode of submit-->
        <div class="ui buttons mini">
            <div class="ui button preflightAndSaveButton disabled">Preflight And Submit</div>
            <div class="ui floating dropdown icon button brown submitoptions">
                <i class="dropdown icon"></i>
                <div class="menu mini">
                    <div class="item" data-value="1">Preflight only</div>
                    <div class="item" data-value="2">Submit directly</div>
                </div>
            </div>
        </div>

        <% } else { %>

        <div class="ui buttons mini">
            <div class="ui button mini blue preflightAndSaveButton disabled">Preflight And Submit</div>
            <div class="ui floating dropdown icon button brown submitoptions">
                <i class="dropdown icon"></i>
                <div class="menu mini">
                    <div class="item" data-value="1">Preflight only</div>
                    <div class="item" data-value="2">Submit directly</div>
                </div>
            </div>
        </div>
        <% } %>
        <input type="button" id="save_button" class="ui button mini blue disabled" value="Save">
        <input type="button" id="cancel_button" class="ui button mini" name="cancel" value="Cancel">
    </div>
</div>
        <% if(model.is_validation_branch){ %>
<div id="validation_content">
</div>
        <% } %>
