<!-- Modal -->
<div id="validation_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="myModalLabel">Validation</h3>
	</div>

	<form id="validation_form" method="post" action="">
		<div class="modal-body">
			<h5>Validator authentication (Windows)</h5>
			
				<div class="row">
					<div class="span3 control-group">
						<label class="control-label" for="validator_login">
							Login
						</label>
						<div class="controls">
							<select id="validator_login" name="login">
								<option value=""></option>
								<% _.each(validator_login, function(validator) { %>
									<option value="<%= validator %>">
										<%= validator %>
									</option>
								<% }); %>
							</select>
						</div>
					</div>

					<div class="span3 control-group">
						<label class="control-label" for="validator_password">
							Password
						</label>
						<div class="controls">
							<input type="password" id="validator_password" name="password">
						</div>
					</div>
				</div>
			
		</div>
		
		<div class="modal-footer">
			<input type="submit" id="submit_validation_button" class="btn btn-primary" value="Submit">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</form>
</div>